---
const CDN = "https://cdn.jsdelivr.net/gh/xberg-io/assets@v1.0.0/docs";
const { siteTitle: label, siteTitleHref: href } = Astro.locals.starlightRoute;
---

<a href={href} class="site-title xb-site-title" aria-label={label}>
  <img class="xb-logo" alt="" src={`${CDN}/app-icon.svg`} />
  <span class="xb-product-name">{label}</span>
</a>
